/* VARIABLES -----------------------------------------------------------*/

$font-default: 'Open Sans', sans-serif;
$font-work: 'Rubik', sans-serif;

$font-icon: "Material Design Icons";
$shadow: 1px 1px 3px #000;

$text-color: #7e7e7e;
$link-color: #2689dd;
$link-color-hover: #1a5689;

$preto: #000;
$branco: #fff;
$verde : #15f5cc;
$cinza-escuro: #272b32;
$azul: #1fa5c4;
$azul-turqueza: #1fa5c4;
$rosa: #cc3071;
$amarelo: #f1c40f;
$azul-escuro: #33435a;

// MDI Fonts
$mdi-font-path: "../libs/mdi/fonts" !default;

